<po-info p-label="Informações úteis"></po-info>
<p>A empresa possui cinco filiais localizadas em: Joinville, Chapecó, Cascavel, Curitiba e São Paulo.</p>
<br />
<p>Existem 19 tabelas para a distribuidora e 14 para a importadora, identificadas com prefixos "D" para a distribuidora
    e "I" para a importadora. As tabelas são as seguintes:</p>
<br />
<p>Distribuidora:</p>
<br />
<li>D01 - Revenda (D03 e D05 são versões da mesma tabela, ajustadas por coeficientes de 0,97 e 0,9215, representando
    os diferentes riscos dos clientes: D01, D03 e D05 correspondem aos Riscos A, B e C, respectivamente).</li>
<li>D02 - Consumidor final (D04 e D06 são versões da mesma tabela, ajustadas por coeficientes de 0,97 e 0,9215 para os
    diferentes riscos dos clientes, sendo D02, D04 e D06 equivalentes aos Riscos A, B e C).</li>
<li>D07 - Tabela sem Difal (vendas interestaduais para revendedores).</li>
<li>D08 a D19 - Tabelas com Difal (vendas interestaduais para consumidor final).</li>
<br />
<p>Importadora:</p>
<br />
<li>I01 - Revenda.</li>
<li>I02 - Consumidor final.</li>
<li>I03 - Simples Nacional.</li>
<li>I04 - Sem inscrição estadual.</li>
<li>I05 - CPF.</li>
<li>I06 - Tabela sem Difal (vendas interestaduais para revendedores).</li>
<li>I07 a I14 - Tabelas com Difal (vendas interestaduais para consumidor final).</li>
<br />
<p>A filial de São Paulo possui preços exclusivamente para os produtos do grupo 52 (importados) nas tabelas da
    importadora. As demais filiais possuem preços para todos os produtos nas tabelas da distribuidora, bem como para os
    produtos do grupo 52 (importados) nas tabelas da distribuidora e da importadora (importante ter isso em mente ao
    reprocessar os preços).</p>
<br />
<po-divider></po-divider>

<po-info p-label="Ajuda e Sobre o Projeto" p-value="" />
<p>Este projeto foi desenvolvido utilizando a biblioteca PO UI Angular para proporcionar uma interface intuitiva e
    eficiente. Ele serve como uma ferramenta de consulta ao custo dos produtos da Fachini Máquinas Ltda.,
    possibilitando o acesso rápido e fácil às informações de custos e detalhes dos produtos. Além disso, o sistema
    permite reprocessar o preço de venda dos produtos de maneira prática, ajustando valores conforme a necessidade
    da empresa para atender às demandas de mercado e garantir a competitividade.</p>
<br/>

<po-divider></po-divider>
<p>Lucas Eduardo Alves</p>
<p>Analista de Sistemas</p>
<br/>
<br/>
