<po-loading-overlay
  *ngIf="isLoading"
  p-text="Reprocessando"
></po-loading-overlay>

<div class="po-wrapper">
  <po-toolbar p-title="Custo e preço Fachini"></po-toolbar>

  <po-menu [p-collapsed]="false" [p-menus]="menus" [p-automatic-toggle]="false">
    <div *p-menu-header-template class="po-p-2 po-font-title">
      <p>Fachini Máquinas LTDA</p>
    </div>
  </po-menu>

  <po-page-default *ngIf="showPoPageDefault">
    <router-outlet></router-outlet>
  </po-page-default>
  
  <router-outlet *ngIf="!showPoPageDefault"></router-outlet>
</div>
